@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: MyCustomFont;
  src: url("../fonts/varsity_regular.ttf");
}

@font-face {
  font-family: Trajan_Pro_Bold;
  src: url("../fonts/Trajan_Pro_Bold.ttf");
}

:root,
html {
  font-family: Roboto, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
}

:root {
  --colorPrimary: #015c98;
  --colorSecondary: #1d659e;
  --colorWhite: #ffffff;
  --colorOffWhite: #f7f7f7;
  --colorBorderWhite: #dbe4e9;
  --colorBlack: #000000;
  --colorHalfBlack: #333333;
  --colorBackgroundBlack: #343a40bd;
  --colorBackgroundOverlay: #00000070;
  --colorWhiteOverlay: rgba(212, 210, 212, 1);
  --colorBoxShadow: rgba(0, 0, 0, 0.075);
  --colorBrownBackground: #504140;
  --colorBrown: #372e28;
  --colorWhatsApp: #42db87;

  --highlightsBorder: #a45a52;
  --highlightsBackground: #a45a52;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorOffWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* All Sections */

.section-heading {
  font-size: 35px;
  text-align: center;
  color: var(--colorPrimary);
  text-transform: uppercase;
  font-family: "Trajan_Pro_Bold";
}
.sub-heading {
  color: var(--colorSecondary);
  font-family: "Trajan_Pro_Bold";
}
@media screen and (max-width: 600px) {
  .section-heading {
    font-size: 1.6em;
  }
  .sub-heading {
    font-size: 1em;
  }
}

/* Slider */
#slider_section {
  margin-top: 70px;
  /* min-height: 80vh; */
}

.carousel {
  overflow: hidden !important;
  /* max-height: 80vh; */
}

.carousel-item img {
  max-height: 80vh;
  width: 100% !important;
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banner/banner1.webp");
  }
  .carousel-item .banner2 {
    content: url("../img/banner/banner2.webp");
  }
}

/* Highlights */

.project {
  margin: 12px auto;
  height: 70px;
  background: #ffffff;
  padding: 50px 0px;
  background-color: #253860;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 2px solid #fff;
  outline-offset: -6px;
}

.proj-img img {
  width: 50px !important;
  padding: 10px 0;
  color: #fff;
  margin-left: 40%;
}

.proj-text {
  color: #fff;
  font-weight: 400;
  text-align: center;

  font-size: 15px !important;
  line-height: 23px !important;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .proj-text {
    padding-left: 30px;
  }
}

/* amenities */

.infographic-cards {
  width: 100%;
  position: relative;
  display: flex;
  gap: 2%;
  justify-content: center;
  padding-left: 0;
}

.infographic-cards li {
  list-style: none;
  width: calc(100% / 4);
  height: 210px;
  padding: 25px 30px;
  background: #eee;
  position: relative;
  background-image: linear-gradient(to bottom right, #e9eaecda, #ffffff);
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
  box-shadow: inset 2px 2px 2px white, inset -1px -1px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: inline-block;
  margin-bottom: 25px;
  border-radius: 20px;
}

.infographic-cards li h5 {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 15px;
}

.infographic-cards li h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.infographic-cards li.color {
  border: 10px solid var(--colorPrimary);
}

.infographic-cards li i {
  font-size: 35px;
  margin-bottom: 15px;
}

.number-box {
  position: absolute;
  bottom: 0;
  padding: 15px;
  border-radius: 60px 60px 0 0;
  width: 100px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2),
    0em 0.05em rgba(255, 255, 255, 0);
  font-weight: 800;
  color: #fff !important;
}

.number-box img {
  width: 100%;
  height: 100%;
}

.infographic-cards li.color .number-box {
  background: var(--colorSecondary);
}

@media screen and (max-width: 991px) {
  .infographic-cards {
    flex-wrap: wrap !important;
  }

  .infographic-cards li {
    flex: 0 0 auto;
    width: calc(100% / 2.5);
  }
}

@media screen and (max-width: 578px) {
  .infographic-cards li {
    width: calc(100% / 1.2);
  }
}

/* Gallery */
.gal-img {
  /* width: 19em !important; */
  height: 200px;
}
.gal-img img {
  width: 100% !important;
  height: 100%;
}

/* Location */

.near-location {
  padding-bottom: 25px;
}
.locations-left {
  overflow-y: auto;
  text-align: start;
}
.near-location h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  text-transform: uppercase;
}

.near-location ul {
  /* padding-left: 0px; */
  font-size: 14px;
  /* font-weight: 200; */
}

.near-location ul li {
  line-height: 1.8em;
}
.near-location img {
  width: 50px;
  height: 50px;
}
.nopadding {
  padding: 0;
}

@media screen and (max-width: 600px) {
  .locations-left {
    margin-top: 2em;
  }
}
.loc_img {
  height: 300px;
  width: 100%;
}

.loc_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.loc_features ul li {
  padding: 10px;
  font-size: 1.1em;
  list-style: none;
}

/* About */
#about_section {
  background-color: #00354a;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 970px; */
  background-attachment: fixed;
  padding: 0 !important;
}
.about_overlay {
  background: var(--colorBackgroundOverlay);
  /* height: 970px; */
  padding: 0;
}
#about_section .sub-heading {
  color: var(--colorPrimary);
  font-size: 1.5em;
}

#about_section .sub-heading {
  letter-spacing: 3.5px;
}

.form-label {
  display: none;
}
.inputStyle {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
}
.submit-btn,
.submit-btn:hover,
.submit-btn:focus-visible,
.submit-btn:active {
  background-color: var(--colorSecondary) !important;
  border: none !important;
}
@media screen and (max-width: 600px) {
  .enquire-section {
    padding: 0 !important;
  }
  .about-para-container {
    padding: 2em !important;
    padding-top: 2em;
  }
}

.read_more {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding-left: 10px;
  color: var(--colorWhite);
}

/* Footer */
#footer {
  background-color: var(--colorBlack);
  padding: 40px 20px;
}
.qrcode {
  text-align: center;
  margin: 10px 20px;
  color: var(--colorWhite);
}

.qrcode img {
  /* display: block;
  margin: auto; */
  width: 100px;
  /* margin-bottom: 10px; */
}

@media screen and (min-width: 990px) {
  .navbar-nav {
    justify-content: flex-end;
  }
}

/* Action Footer */
.action-footer-container {
  margin: 0;
  padding: 0;
}
.action-footer {
  margin: 0;
  padding: 7px;
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
  cursor: pointer;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  font-size: 0.8em;
}

.action-footer li {
  border-left: 1px solid var(--colorBlack);
}

.action-footer li:first-child {
  border-left: none !important;
}
/* For Desktop */
@media only screen and (min-width: 990px) {
  .action-footer {
    display: none;
  }
}

.form_norms {
  font-size: 0.75em;
  font-weight: bold;
}

.download_btn {
  color: var(--colorSecondary);
  border-color: var(--colorSecondary);
}
.download_btn:hover,
.download_btn:active {
  border-color: var(--colorSecondary) !important;
  background-color: var(--colorSecondary) !important;
}

/* ----------------------------------------------------------- */
/* Thank You Page */

#thanku_section {
  margin-top: 5em !important;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thanku_section h2 {
  font-family: MyCustomFont;
  letter-spacing: 0.1em;
  font-size: 5em;
}

#thanku_section p {
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  #thanku_section h2 {
    font-size: 2.3em;
  }
  #thanku_section p {
    padding: 0 1.2em;
    font-size: 0.8em;
  }
}
